
.todoList {
    width: 100%;
    height: 80px;
    background-color: var(--background-list);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


.todoButtons {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}




