.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin-top: 30px;
}

button {
    padding: 5px 10px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}