@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

#root {
    --background-list: #3c3c3c
}

* {
    font-family: "Roboto Light", sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin-top: 30px;
}